<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:property-placeholder location="classpath:config.properties"/>  

	<bean id="rechargeResource"
          class="com.future.gameplatform.trade.resource.RechargeResource"
          scope="singleton"
          lazy-init="false">
		<property name="rechargeService" ref="rechargeService"/>
	</bean>

    <bean id="tradeResource"
          class="com.future.gameplatform.trade.resource.TradeResource"
          scope="singleton"
          lazy-init="false">
        <property name="tradeService" ref="tradeService" />
    </bean>
	
	<bean id="rechargeService"
          class="com.future.gameplatform.trade.service.impl.RechargeServiceImpl"
          scope="singleton"
          lazy-init="false">
        <property name="rechargeDao" ref="rechargeDao"/>
        <property name="accountingHelper" ref="accountingHelper"/>
        <property name="rechargeGetTranlogHelper" ref="rechargeGetTranlogHelper"/>
        <property name="noticeCPRecordDao" ref="noticeCPRecordDao"/>
        <property name="noticeCPTaskService" ref="noticeCPTaskService"/>
        <property name="rechargeNoticeCPHelper" ref="rechargeNoticeCPHelper"/>
	</bean>

    <bean id="tradeService"
          class="com.future.gameplatform.trade.service.impl.TradeServiceImpl"
          scope="singleton"
          lazy-init="false">
        <property name="tradeDao" ref="tradeDao"/>
        <property name="accountingHelper" ref="accountingHelper"/>
    </bean>

	<bean id="rechargeDao"
          class="com.future.gameplatform.trade.dao.impl.RechargeDaoImpl"
          scope="singleton"
          lazy-init="false">
        <constructor-arg type="String" value="${mongo-domain}" />
        <constructor-arg type="String" value="${db-name}" />
	</bean>

    <bean id="noticeCPRecordDao"
          class="com.future.gameplatform.trade.dao.impl.NoticeCPRecordDaoImpl"
          scope="singleton"
          lazy-init="false">
        <constructor-arg type="String" value="${mongo-domain}" />
        <constructor-arg type="String" value="${db-name}" />
    </bean>

    <bean id="noticeCPTaskService"
          class="com.future.gameplatform.trade.service.impl.NoticeCPTaskServiceImpl"
          scope="singleton"
          lazy-init="false">
        <property name="capacity" value="${NoticeCPTask-queue-capacity}" />
        <property name="maxInQueueTimeDistance" value="${NoticeCPTask-maxTimeDistance}" />
        <property name="noticeCPRecordDao" ref="noticeCPRecordDao"/>
        <property name="rechargeNoticeCPHelper" ref="rechargeNoticeCPHelper"/>
    </bean>

    <bean id="rechargeNoticeCPHelper"
          class="com.future.gameplatform.trade.service.impl.RechargeNoticeCPHelper"
          scope="singleton"
          lazy-init="false">
        <constructor-arg type="int" value="${accounting-maxConnection}" />
        <constructor-arg type="String" value="${accounting-domain}" />
        <constructor-arg type="int" value="${accounting-port}"/>
    </bean>

    <bean id="tradeDao"
          class="com.future.gameplatform.trade.dao.impl.TradeDaoImpl"
          scope="singleton"
          lazy-init="false">
        <constructor-arg type="String" value="${mongo-domain}" />
        <constructor-arg type="String" value="${db-name}" />
    </bean>

    <bean id="accountingHelper"
          class="com.future.gameplatform.trade.service.impl.AccountingHelper"
          scope="singleton"
          lazy-init="false">
        <constructor-arg type="int" value="${accounting-maxConnection}" />
        <constructor-arg type="String" value="${accounting-domain}" />
        <constructor-arg type="int" value="${accounting-port}"/>
        <constructor-arg type="String" value="${userbalance-domain}"/>
        <constructor-arg type="int" value="${userbalance-port}"/>
        <constructor-arg type="String" value="${gf-appid}"/>
    </bean>

    <bean id="rechargeGetTranlogHelper"
          class="com.future.gameplatform.trade.service.impl.RechargeGetTranlogHelper"
          scope="singleton"
          lazy-init="false">
        <constructor-arg type="int" value="${gettranlog-maxConnection}" />
        <constructor-arg type="String" value="${gettranlog-domain}" />
        <constructor-arg type="int" value="${gettranlog-port}"/>
        <constructor-arg type="String" value="${queryAppAccountinfo-url}"/>
    </bean>

    <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter"
        lazy-init="false">
        <property name="beans">
            <map>
                <entry key="com.babeeta.butterfly.trade.monitor:name=rechargeServiceJMX" value-ref="rechargeServiceJMX" />
                <entry key="com.babeeta.butterfly.trade.monitor:name=tradeServiceJMX" value-ref="tradeServiceJMX" />
            </map>
        </property>
    </bean>
    
    <bean id="rechargeServiceJMX"
        class="com.future.gameplatform.trade.monitor.RechargeServiceJMX">
    </bean>
    <bean id="tradeServiceJMX"
          class="com.future.gameplatform.trade.monitor.TradeServiceJMX">
    </bean>
</beans>