<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description"
          content="凤凰支付官方网站，为您提供高转化率、高结算率的移动支付通道！">
    <meta name="keywords" content="游戏支付，短信支付，移动支付，虚拟支付">
    <meta content="telephone=no" name="format-detection"/>

    <link rel="shortcut icon" href="http://www.lufax.com/index/images/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap-theme.min.css" rel="stylesheet">

    <title>凤凰支付-便捷、透明、高结算率的移动支付通道</title>

</head>
<body>
    <div class="container">