#parse("./common/head.html")
<div class="row">
    <div class="col-sm-3 col-md-6 col-lg-8">
        <ul class="nav navbar-nav  hidden-sm hidden-xs">
            <li><span class="navbar-text">官方QQ群:139139139</span></li>
        </ul>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-4">
        <ul id="nonLoginBar" class="nav navbar-nav navbar-right navbar-sm">
            <li><a id="login-panel" href="login.html" rel="nofollow">登录</a></li>
            <li><a id="create-account" href="register.html" class="btn btn-sm" rel="nofollow">注册账户</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">凤凰支付管理平台</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="invest.html">通道配置</a></li>
                <li><a href="loan.html">结算中心</a></li>
            </ul>
        </div>
    </nav>
</div>